<mat-nav-list>

    <div class="profile-card">
        <div class="header">
            <h2>karishma</h2>
            <h4>karishmashaik</h4>

        </div>
     </div>
<mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Appointment</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Schedule Appointment</a>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
        </a> -->
</mat-nav-list>
