<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-between mb-3"> <span>Doctors</span> <button class="btn btn-success add">Add Doctors</button> </div>
  <div class="row g-2">
      <div class="col-md-3" *ngFor="let item of doctorsData">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="{{item.image}}" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">{{item.name}}</h5> <small>{{item.specialist}}</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment" (click)="addBookAppoinment(item)"> <button class="btn btn-success text-uppercase" >Book Appointment</button> </div>
          </div>
      </div>

  </div>
</div>
